<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ApiUri" value="https://sandbox.moip.com.br" />
    <add key="ApiToken" value="NEI1XLDNUB3AMW4CJ5VGVUV23TQHQAJS" />
    <add key="ApiKey" value="UCN4XVKMP75Y1WPGIRLEDS8OJTKHVQIG8RK0I2PK" />
  </appSettings>
</configuration>